.contacto-container {
	max-width: 540px;
}

.capacitacion-container{
	max-width: 540px;
}

.login-container{
	max-width: 540px;
}

.admin-container {
	max-width: 540px;
} 

.profesional-container{
	max-width: 540px;
}

.cliente-container {
	max-width: 540px;
}